{% extends "gestionPersonnage/layout.html" %}
{% block content %}
<a href="{% url 'liste' %}" title="Liste">Retour Liste</a>
<h1>detail</h1>
<p>Nom : {{personnage.nom}}</p>
<p>Classe : {{personnage.classe}}</p>
<p>Force : {{personnage.force}}</p>
<p>Déxterité : {{personnage.dexterite}}</p>
<p>Constitution : {{personnage.constition}}</p>
<p>Intelligence : {{personnage.intelligence}}</p>
<p>Sagesse : {{personnage.sagesse}}</p>
<p>Charisme : {{personnage.charisme}}</p>
<p>Poids : {{personnage.poids}}</p>
<p>User : {{personnage.user}}</p>
{% endblock %}