{% extends "gestionPersonnage/layout.html" %}
{% block content %}
<h1>personnages</h1>
<a href="{% url 'create' %}">Ajouter</a>
<table class="listePersonnages">
    <thead>
        <tr>
            <td>Nom</td>
            <td>classe</td>
            <td>Force</td>
            <td>Dextérité</td>
            <td>Constitution</td>
            <td>Intelligence</td>
            <td>Sagesse</td>
            <td>Charisme</td>
            <td>User</td>
            <td>Editer</td>
            <td>Supprimer</td>
        </tr>
    </thead>
    <tbody>
        {% for personnage in personnages %}
        <tr>
            
            <td>{{personnage.Nom}}</td>
            <td>{{personnage.classe}}</td>
            <td>{{personnage.force}}</td>
            <td>{{personnage.dexterite}}</td>
            <td>{{personnage.constition}}</td>
            <td>{{personnage.intelligence}}</td>
            <td>{{personnage.sagesse}}</td>
            <td>{{personnage.charisme}}</td>
            <td>{{personnage.poids}}</td>
            <td>{{personnage.user}}</td>
            <td><a href="{% url 'detail' personnage.pk %}">{{personnage.nom}}</a></td>
            <td><a href="{% url 'update' personnage.pk %}">modifier</a></td>
            <td><a href="{% url 'delete' personnage.pk %}">supprimer</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}