{% extends "gestionPersonnage/layout.html" %}
{% block content %}
<a href="{% url 'create' %}">Nouveau personnage</a>
<table class="listePersonnages">
    <thead>
        <tr>
            <td>Nom</td>
            <td>classe</td>
            <td>User</td>
            <td>Editer</td>
            <td>Supprimer</td>
        </tr>
    </thead>
    <tbody>
        {% for personnage in personnages %}
        <tr>
            <td><a href="{% url 'detail' personnage.pk %}">{{personnage.nom}}</a></td>            
            <td>{{personnage.classe}}</td>            
            <td>{{personnage.user}}</td>
            <td><a href="{% url 'update' personnage.pk %}" title="Modifier">Edition</a></td>
            <td><a href="{% url 'delete' personnage.pk %}"title="Supprimer">suppression</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}