{% extends "gestionPersonnage/layout.html" %}
{% block content %}

<table class="listePersonnages">
    <thead>
        <tr>
            <td>Nom</td>
            <td>classe</td>
            <td>Force</td>
            <td>Dextérité</td>
            <td>Constitution</td>
            <td>Intelligence</td>
            <td>Sagesse</td>
            <td>Charisme</td>
            <td>Poids</td>
            <td>User</td>
            <td>Editer</td>
            <td>Supprimer</td>
        </tr>
    </thead>
    <tbody>
        {% for personnage in personnages %}
        <tr>
            
            <td>{{personnage.Nom}}</td>
            <td>{{personnage.classe}}</td>
            <td>{{personnage.force}}</td>
            <td>{{personnage.dexterite}}</td>
            <td>{{personnage.constition}}</td>
            <td>{{personnage.intelligence}}</td>
            <td>{{personnage.sagesse}}</td>
            <td>{{personnage.charisme}}</td>
            <td>{{personnage.poids}}</td>
            <td>{{personnage.user}}</td>
           
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}